@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111 url(https://st.deviantart.net/signinup/sisu_bg-min.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content {
    width: 400px;
    height: 320px;
    background: #111;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 40pt 50pt 0 rgba(0, 0, 0, .35);
}

.avatar-content {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.avatar-content .avatar {
    position: relative;
    width: 120px;
    height: 100%;
    background: url(https://avatars.githubusercontent.com/Clanamoon);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border: #111 4px solid;
    border-radius: 50%;
}

.bio-content .title {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bio-content .title h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.bio-content .title h2 {
    color: #e0e0e0;
    font-size: 16px;
    font-weight: 500;
}

.bio-content .title p {
    margin-top: 4px;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 400;
}

.bio-content .title .seperator {
    margin: 6px;
    color: #bdbdbd;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

.account-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    margin: 8px;
}

svg.fa-steam {
    color: #00adee;
    filter: drop-shadow(0 0 20pt rgba(0, 173, 238, 1));
    transition: 1s;
}

svg.fa-spotify {
    color: #1db954;
    filter: drop-shadow(0 0 20pt rgba(29, 185, 84, 1));
    transition: 1s;
}

svg.fa-twitch {
    color: #9146ff;
    filter: drop-shadow(0 0 20pt rgba(145, 70, 255, 1));
    transition: 1s;
}

svg.fa-discord {
    color: #7289da;
    filter: drop-shadow(0 0 20pt rgba(114, 137, 218, 1));
    transition: 1s;
}

svg:hover {
    cursor: pointer;
    color: #fff;
    filter: drop-shadow(0 0 20pt rgba(255, 255, 255, 1));
    transition: .3s;
}